.text {
    color: rgb(209, 209, 209);
    font-family: Lexend;
    margin: auto;
    margin-top:0px;
    margin-bottom:10px;
    width:40%;
    text-align:left;}
.title {
    color: white;
    font-family: Lexend;
    margin-top:40px;
    margin-bottom:-10px;
    width:100%;
    text-align:center;}
.bigtitle {
    color: white;
    font-family: Lexend;
    margin-top:60px;
    margin-bottom:20px;
    width:100%;
    text-align:center;
    font-size:350%;}
.caption {
    color: rgb(209, 209, 209);
    font-family: Lexend;
    margin: auto;
    margin-top:0px;
    margin-bottom:10px;
    width:40%;
    text-align:center;}
.footer {
    color: rgb(82, 78, 85);
    font-family: Lexend;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    width:40%;
    text-align:center;
    font-size:75%;}
.footer_button{
    margin-inline:5px;
    display:inline-block;
    transform: translate(0px,0px);
    transition: transform 0.2s ease;}
.footer_button:hover{
    transform: translate(0px,-4px);}
.image {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    border-style:solid;
    border-width:7px;
    border-color:white;
    margin-top:50px;
    margin-bottom:10px;}
.yt {
    display:flex;
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-width:7px;
    border-color:white;
    margin-top:50px;
    margin-bottom:10px;}
hr.solid {
    border-top: 1px solid rgb(209, 209, 209);
    margin-top:45px;}
hr.dark {
    color: rgb(82, 78, 85);
    margin-top:45px;
    margin-left:20px;
    margin-right:20px;}
a:link, a:visited{
    color: white}
a:hover{
    color: rgb(209, 209, 209);}
.banner{
    color: black;
    background-color: white;
    font-family: Lexend;
    text-align:center;
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(90deg, rgb(197, 211, 216) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 80%, rgb(197, 211, 216) 100%)}
.banner_image{
    transition: 0.35s cubic-bezier(0.370, -0.600, 0.235, 1.650);}
.banner_image:hover{
    transform:scale(1.2,1.2);
    filter:brightness(1.1)}
.column{
    float:left;
    width:50%}
.column_slim{
    float:left;
    width:33%}
.row:after{
    content:"";
    display: table;
    clear: both;}
.button {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 44, 53);
    font-family: Lexend;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    width:fit-content;
    text-align:center;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    padding:12px;
    display:inline-block;
    transition: transform 0.2s ease;}
.button:hover{
    transform: scale(1.05,1.05)}
.skin{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    margin-top:30%;
    margin-bottom:-5%;
    filter:drop-shadow(0px 0px 30px #e7e3e960);
    transition: transform 0.3s ease;}
.skin:hover{
    transform: scale(2.0,2.0);}
.skin_container{
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 0.6) 100%);
    border-radius: 20px;
    width: 10%;
    padding-top:1%;
    padding-bottom:5%;
    padding-left:5%;
    padding-right:5%;
    margin:15px;
    display:table-cell;}
.project_image {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    border-style:solid;
    border-width:7px;
    border-color:white;
    margin-top:50px;
    margin-bottom:10px;
    transition: 0.3s ease;}
.project_image:hover{
    transform:scale(1.04,1.04);
    filter:brightness(1.25);}
#myBtn {
    font-family:Lexend;
    display: none;
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:rgb(39, 34, 41);   
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px; 
    font-size: 18px;
    transition: 0.3s ease}
#myBtn:hover {
    background-color: rgb(58, 51, 59);}
.gay {
    color: transparent;
    font-family: Lexend;
    margin-top:60px;
    margin-bottom:20px;
    width:100%;
    text-align:center;
    font-size:350%;
    background: linear-gradient(to right,#f33f3f,#f1a733,#e8ee48,#4be24e,#4bf3e1,#505cf5,#c450f5,#f76cc8,#f33f3f);
    background-clip:text;
    background-size: 15%;
    animation: gay_animation 50s linear infinite;
}
@keyframes gay_animation{
    0%{
        background-position: 0% 50%;
        offset-path: calc();
    }
    100%{
        background-position: 200% 50%;
    }
}